---
import Footer from "@/components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Svg from "../components/Svg.astro";
import { skills } from "@skills";

interface Skill {
  skill: string;
  icon: string;
}

const currentSkills: Skill[] = skills;
---

<Layout title="About Me">
  <main class="bg-[#0f172a] min-h-screen text-slate-300">
    <section class="mx-auto max-w-4xl px-6 py-16">
      <h1
        class="text-5xl font-bold text-center mb-12 text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-cyan-300"
      >
        About Me
      </h1>
      <div class="space-y-8">
        <div
          class="bg-gradient-to-r from-slate-800 to-slate-700 rounded-lg p-6 shadow-xl"
        >
          <h3 class="text-xl font-semibold text-cyan-300 mb-4">Who I Am</h3>
          <p class="text-lg leading-relaxed">
            Hello! I'm Moises, a 22-year-old Intelligent Systems engineering
            student at UASLP, currently in my sixth semester. My passion lies in
            web development, where I've honed my skills in HTML, CSS, and
            JavaScript, along with modern frameworks like React, Astro, and
            Tailwind CSS.
          </p>
        </div>
        <div
          class="bg-gradient-to-r from-slate-800 to-slate-700 rounded-lg p-6 shadow-xl"
        >
          <h3 class="text-xl font-semibold text-cyan-300 mb-4">My Expertise</h3>
          <p class="text-lg leading-relaxed">
            My expertise extends to backend development with Python and FastAPI,
            as well as with Node.js and Express. I have extensive experience in
            database management using MongoDB and MySQL, and I'm proficient in
            TypeScript, API development, and working with ORMs for efficient
            database interactions.
          </p>
          <p class="text-lg leading-relaxed mt-3">
            In addition, I develop mobile applications using Flutter and Dart,
            and desktop applications with Python and Flet.
          </p>
        </div>
        <div
          class="bg-gradient-to-r from-slate-800 to-slate-700 rounded-lg p-6 shadow-xl"
        >
          <h3 class="text-xl font-semibold text-cyan-300 mb-4">My Journey</h3>
          <p class="text-lg leading-relaxed">
            Throughout my journey, I've demonstrated a strong work ethic and an
            insatiable appetite for learning. My portfolio includes diverse
            projects, from Facebook pages to bespoke websites for individual
            clients and academic endeavors.
          </p>
        </div>
        <div
          class="bg-gradient-to-r from-slate-800 to-slate-700 rounded-lg p-6 shadow-xl"
        >
          <h3 class="text-xl font-semibold text-cyan-300 mb-4">My Ambition</h3>
          <p class="text-lg leading-relaxed">
            As an ambitious young professional, I'm eager to push the boundaries
            of intelligent systems engineering. I'm ready to embrace new
            challenges and make meaningful contributions to the tech world with
            my skills and enthusiasm.
          </p>
        </div>
      </div>
    </section>

    <section class="mx-auto max-w-4xl px-6 py-2 md:mt-5">
      <h2 class="text-4xl font-bold text-center mb-12 text-cyan-300">Skills</h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
        {
          currentSkills.map((item) => (
            <article class="group bg-slate-800/50 hover:bg-slate-700/50 rounded-xl shadow-lg transition-all duration-300 overflow-hidden">
              <div class="p-6 flex flex-col items-center">
                <Svg icon={item.icon} />
                <span class="text-lg font-semibold text-slate-200 group-hover:text-white text-center transition-colors duration-300">
                  {item.skill}
                </span>
              </div>
            </article>
          ))
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  @font-face {
    font-family: "Helvetica";
    src: url(../Fonts/Helvetica.ttf);
  }
  @font-face {
    font-family: "Lato";
    src: url(../Fonts/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal;
  }
  main {
    font-family: "Lato", sans-serif;
  }
  h1,
  h2,
  h3 {
    font-family: "Helvetica", sans-serif;
  }
</style>
