---
import Footer from "@/components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Svg from "../components/Svg.astro";
import { skills } from "@skills";

interface Skill {
  skill: string;
  icon: string;
}

const currentSkills: Skill[] = skills;
---

<Layout title="About Me">
  <section class="mx-auto max-w-screen-lg px-6 py-12">
    <div class="text-center">
      <h1
        class="text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-sky-500 to-cyan-400"
      >
        About Me
      </h1>
    </div>
    <article class="mt-6 p-6 rounded-lg shadow-lg content_about">
      <p class="text-base sm:text-lg text-slate-300">
        Hello! I am Moises, a passionate student of Intelligent Systems
        engineering at UASLP, currently in the fourth semester and 22 years old.
        My technical skills include mastery of HTML, CSS, and JavaScript, as
        well as experience in developing web applications using technologies
        like React, Astro, and Tailwind CSS.
      </p>
      <p class="mt-4 text-base sm:text-lg text-slate-300">
        In addition, I have experience in backend development with Node.js and
        Express, as well as MongoDB and MySQL database management. My knowledge
        extends to TypeScript, API management and creation, and the use of ORMs
        to facilitate interaction with databases.
      </p>
      <p class="mt-4 text-base sm:text-lg text-slate-300">
        Throughout my career, I have been responsible and dedicated in my work,
        with a constant focus on learning and continuous improvement. I have had
        the opportunity to develop websites for diverse audiences, from Facebook
        pages to individual clients and student projects.
      </p>
      <p class="mt-4 text-base sm:text-lg text-slate-300">
        I'm a young man with big ambitions and I'm excited to keep learning and
        growing in the field of intelligent systems engineering - I'm ready to
        face new challenges and contribute to the world of technology with my
        passion and skills.
      </p>
    </article>
  </section>
  <div class="max-w-screen-lg mx-auto py-10 w-11/12">
    <h1 class="text-4xl font-bold text-cyan-400 mb-8 text-center">Skills</h1>
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
      {
        currentSkills.map((item) => (
          <article class="group flex flex-col items-center p-6 bg-slate-800 hover:bg-slate-700  rounded-xl shadow-lg transition-all duration-300">
            <Svg icon={item.icon} />
            <span class="text-lg font-semibold text-slate-300 group-hover:text-cyan-400">
              {item.skill}
            </span>
          </article>
        ))
      }
    </div>
  </div>
  <Footer />
</Layout>

<style>
  @font-face {
    font-family: "Helvetica";
    src: url(../Fonts/Helvetica.ttf);
  }
  @font-face {
    font-family: "lato_regular";
    src: url(../Fonts/Lato-Regular.ttf);
  }
  .content_about {
    p {
      line-height: 1.9;
      font-family: "lato_regular";
    }
  }

  .textWidthFitContent {
    width: fit-content;
  }
</style>
