---
import type { TypeProyects } from "@/types/data";
import Links from "./Links.astro";

interface Props {
  proyect: TypeProyects;
}

const { proyect } = Astro.props;
---

<figure
  class="overflow-hidden rounded-lg bg-slate-800 shadow-lg transform transition-all duration-300 hover:shadow-2xl hover:scale-105"
>
  <img
    src={proyect.image}
    alt="Hero"
    class="aspect-w-3 aspect-h-2 transition-transform transform hover:scale-110"
    loading="lazy"
  />
  <div class="p-2 text-center">
    <h1
      class="text-xl font-bold mb-2 text-white hover:text-cyan-400 transition-colors"
    >
      {proyect.title}
    </h1>
    <div class="mb-4 h-24 overflow-hidden">
      <p class="mt-2 text-sm text-slate-200">
        {proyect.description.substring(0, 130)}....
      </p>
    </div>
    <div class="flex flex-wrap gap-2 justify-center">
      <Links
        link={proyect.link_github?.frontend || "#"}
        text="Frontend"
        icon="code"
      />
      <Links
        link={proyect.link_github?.backend || "#"}
        text="Backend"
        icon="code"
      />
      <Links
        link={`/Post/${proyect.id}`}
        text="Details"
        icon="external-link"
      />
      <Links link={proyect?.link || "#"} text="Website" icon="globe"/>
    </div>
  </div>
</figure>
