---
const anio = new Date().getFullYear();
---

<footer
  class="sm:w-9/12 w-11/12 flex justify-center items-center flex-col m-auto gap-2 px-3 py-6"
>
  <span class="border border-slate-200 w-full flex"></span>
  <p class="text-slate-100 text-center">
    © Copyright {anio} by Astro. Modified with ♥ by Moises.
  </p>
</footer>
