---
interface Props {
  link: string;
  text: string;
}

const { link, text }: Props = Astro.props;
---

<a
  href={link}
  rel="noopener noreferrer"
  class="relative px-2 py-1 overflow-hidden font-medium text-gray-600 bg-gray-100 border border-gray-100 flex h-9 rounded-lg shadow-inner group items-center"
>
  <span
    class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-cyan-600 group-hover:w-full ease"
  ></span>
  <span
    class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-cyan-600 group-hover:w-full ease"
  ></span>
  <span
    class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-blue-600 group-hover:h-full ease"
  ></span>
  <span
    class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-blue-600 group-hover:h-full ease"
  ></span>
  <span
    class="absolute inset-0 w-full h-full duration-500 delay-300 bg-blue-600 opacity-0 group-hover:opacity-100"
  ></span>
  <span
    class="relative transition-colors duration-75 delay-200 group-hover:text-white ease text-sm"
  >
    {text}
  </span>
</a>
