---
import PageProjectHome from "./section/PageProjectHome.vue";

---

<section class="m-auto max-w-screen-lg lg:px-0 px-2">
  <div class="mb-6 text-2xl font-bold text-white">
    <h1>
      Recent
      <span class="text-cyan-400">Projects</span>
    </h1>
  </div>
  <section class="flex flex-col gap-6">
    <PageProjectHome client:load />
  </section>
</section>

<style>
  .item {
    list-style: none;
  }
</style>
