---
import axios from "axios";
import Loading from "./Loading.astro";
import Cards from "./Cards.astro";
import type { TypeProyects } from "../types/data";
import { fromToJsonMap } from "@/service/data.service";

const url = import.meta.env.URL_BACKEND_HOST_API;
let proyectsData: TypeProyects[] = [];
try {
  const res = await axios.get<TypeProyects[]>(`${url}/Api/1.0/Proyects`);
  const data = res.data ?? [];
  const convertData = data.map(fromToJsonMap);
  proyectsData = convertData.length ? convertData.slice(0, 3) : [];
} catch (error) {
  proyectsData = [];
}
---

<section class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="flex items-baseline justify-between p-2 m-3">
    <span
      class="bg-gradient-to-br from-sky-500 text-2xl font-bold to-cyan-400 bg-clip-text text-transparent text-white"
      >Recient <span class="text-cyan-400"> Post </span>
    </span>
    <a
      href="/ProyectsAll"
      class="text-lg text-white hover:text-cyan-500 hover:font-bold">View all</a
    >
  </div>
  <article class="grid grid-cols-1 gap-6 md:grid-cols-3">
    {
      proyectsData.length == 0 ? (
        <Loading />
      ) : (
        proyectsData.map((proyect) => <Cards proyect={proyect} />)
      )
    }
  </article>
</section>
