---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap"
      />
    </noscript>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="preconnect" href="https://res.cloudinary.com" />
    </head>
  <body class="bg-slate-900">
    <Header />
    <main>
      <slot />
    </main>
  </body><style is:global>
    html {
      font-family: "Inter", sans-serif;
    }
  </style>
</html>
